# Ignore everything
*

# Except for these files / directories:
!Cargo.lock
!Cargo.toml
!src/

# Ignore unnecessary files in the src directory
**/*.rs.bk

# Ignore the target directory which is used for builds
target/
